/* /* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* ## Colors */
/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}



:root {
  /* Colors*/
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(212, 45%, 89%);
  --color-light-gray: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
/* fonts*/
--font-light: 400;
--font-bold:700;
--font-size: 15px;
}

body{
  height:100vh;
  background-color: var(--color-gray);
  position:relative;
}
.align-center-xy{
  position:absolute;
  top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);


}

.container {
 background-color: var(--color-white);
 border-radius: 15px;
 width: 315px;
 height: 485px;
 padding-top: 10px;
 padding-bottom: 10px;
}

img{
  width: 280px;
  height: 280px;
  display: block;
  margin: 5px auto;
  border-radius: 15px;
}

h1{
  color:var(--color-dark-blue);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin:10px 30px 19px 30px;
}

p{
  font-size:15px;
  color: var(--color-light-gray);
  font-weight: 400;
  text-align: center;
  margin:0 36px 45px 36px;
}

footer{
  font-size: 11px;
  color:var(--color-dark-blue);
  text-align: center;
}

@media screen and (max-width:1440px){
  .container{
      margin-bottom:28px;

  }
}
